body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u507 {
  position:absolute;
  left:12px;
  top:23px;
  width:57px;
  height:16px;
  color:#009900;
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u509 {
  position:absolute;
  left:12px;
  top:47px;
  width:300px;
  height:128px;
  color:#666666;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u511 {
  position:absolute;
  left:12px;
  top:197px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u513 {
  position:absolute;
  left:12px;
  top:225px;
  width:300px;
  height:48px;
  color:#666666;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
